## 데이터 정규화

모델링 전 수치 데이터의 입력 변수 범위를 0 ~ 1로 스케일링하는 방법
scikit-learn 객체의 MinMaxScaler사용

### StandardScaler

평균을 제거하고 데이터를 단위 분산으로 조정한다. 그러나 이상치가 있다면 평균과 표준편차에 영향을 미쳐 변환된 데이터의 확산은 매우 달라지게 된다.
따라서 이상치가 있는 경우 균형 잡힌 척도를 보장할 수 없다.

개별 피처를 평균이 0이고, 분산이 1인 값으로 변환

In [3]:
from sklearn.datasets import load_iris
import pandas as pd

In [5]:
# 데이터 세트 로딩, DataFrame으로 변환
kaggle2020 = pd.read_csv('kaggle_survey_2020_responses_rm.csv', low_memory = False)
#df = pd.DataFrame(data = kaggle2020)

In [6]:
kaggle2020.describe()

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q17_Part_8,Q17_Part_9,Q17_Part_10,Q17_Part_11,Q17_OTHER,Q20,Q21,Q22,Q24,Q25
count,20037,20037,20037,20037,19570,19278,19121,15531,4278,7536,...,1025,3469,1299,737,411,11404,11283,11131,10730,10571
unique,4196,12,6,56,8,14,8,2,2,2,...,2,2,2,2,2,6,8,7,26,7
top,565,25-29,Man,India,Master?�s degree,Student,3-5 years,Python,R,SQL,...,Generative Adversarial Networks,Recurrent Neural Networks,"Transformer Networks (BERT, gpt-3, etc)",None,Other,0-49 employees,01�� 02��,We are exploring ML methods (and may one day p...,$0-999,$0 ($USD)
freq,36,4011,15789,5851,7859,5171,4546,15530,4277,7535,...,1024,3468,1298,736,410,4208,2645,2353,2128,3856

### MinMaxScaler

모든 feature 값이 0~1사이에 있도록 데이터를 재조정한다. 다만 이상치가 있는 경우 변환된 값이 매우 좁은 범위로 압축될 수 있다.
즉, MinMaxScaler 역시 아웃라이어의 존재에 매우 민감하다.

데이터값을 0과 1 사이의 범위값으로 변환 (음수 값이 있으면 -1에서 1값으로 변환) 데이터의 분포가 가우시안 분포가 아니라면 Min, Max Scale적용 가능

In [ ]:
from sklearn.preprocessing import MinMaxScaler